<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>592847993191-srmeifs2k7qrh61oc46d62d2t6dvttgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592847993191-srmeifs2k7qrh61oc46d62d2t6dvttgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDdnZquGFcfbT4BWz68Jz2eaw7XoADAU98</string>
	<key>GCM_SENDER_ID</key>
	<string>592847993191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tihomirvidenov.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-sociallogin-3039d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sociallogin-3039d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592847993191:ios:4a0b0097ebd88d77</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sociallogin-3039d.firebaseio.com</string>
</dict>
</plist>